html {
  background-color: rgb(57, 131, 15);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-container {
  display: grid;
  height: 10rem;
  grid-template-columns: 30% 40% auto;
  background-color: rgb(172, 169, 32);
  color: rgb(255, 255, 255);
  border-radius: 5rem;
}

#page-title {
  display: flex;
  align-self: center;
  margin-left: 2rem;
}

#log-out {
  place-self: center;
  justify-self: end;
  width: 20%;
  margin-right: 3rem;
}
