.bet-container {
  display: grid;
  grid-template-rows: 70% auto;
  margin-right: 2rem;
}

.bet {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
}

.bet-button-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10%;
}

.bet-button {
  display: flex;
  border-radius: 2rem;
  color: #e6d759;
  border-color: rgb(190, 190, 190);
  font-size: 3rem;
  justify-content: center;
}

.bet-button {
  background-image: linear-gradient(
    to bottom right,
    #9e6868 0%,
    #ff3d3d 20%,
    #ff6a6a 40%,
    #a85555 60%,
    #ff1f1f 80%,
    #944545 100%
  );
}

.bet-button:hover {
  color: #f4ff55;
  border-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to bottom right,
    #e0b2b2 0%,
    #ff3d3d 20%,
    #ff6a6a 40%,
    #e0b2b2 60%,
    #ff1f1f 80%,
    #e0b2b2 100%
  );
}
