.card-container {
  display: grid;
  grid-template-rows: repeat(3, 33%);
  gap: 2rem;
  justify-content: center;
  align-content: center;
  margin-top: 2%;
}

.player-hand {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
  gap: 1%;
}

.center-cards {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  gap: 1%;
}

.new-game-button {
  display: flex;
  height: 2rem;
  width: 10%;
  justify-content: center;
  justify-self: end;
  place-items: center;
  border-radius: 2rem;
  background-color: brown;
  color: rgb(204, 201, 34);
  border-color: rgb(190, 190, 190);
  font-size: 1rem;
  font-style: oblique;
  font-weight: bold;
  margin-top: 0.4%;
  margin-right: 2rem;
}

.new-game-button {
  background-image: linear-gradient(
    to bottom right,
    #9e6868 0%,
    #ff3d3d 20%,
    #ff6a6a 40%,
    #a85555 60%,
    #ff1f1f 80%,
    #944545 100%
  );
}

.new-game-button:hover {
  color: #f4ff55;
  border-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to bottom right,
    #e0b2b2 0%,
    #ff3d3d 20%,
    #ff6a6a 40%,
    #e0b2b2 60%,
    #ff1f1f 80%,
    #e0b2b2 100%
  );
}

.hand-result {
  display: flex;
  color: aliceblue;
  place-self: center;
  margin-left: 10%;
}

.result-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  margin-left: 20rem;
}
